/* Advertisement.module.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.title {
    text-align: center;
    color: #333;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;

}

.input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit {
    padding: 10px ;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}

.adsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adItem {
    margin: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 120px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.adImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.deleteButton {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}