.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:80vh;
    background-color: hsl(215, 74%, 8%);
}

.profileContainer {display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    gap: 20px;
    padding: 2rem;
    background-color: hsl(215, 74%, 8%);
    border-radius: 10px;
    
}

.userDetails {
    font-family: 'Monospace';
    font-size: 1.2rem;
}

.userDetails p {
    margin: 10px 0;
}

.userDetails h3 {
    margin-top: 20px;
}

.userDetails ul {
    list-style-type: none;
    padding: 0;
}

.userDetails li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
